*,
*::after,
*::before{
  box-sizing: border-box;

}
body{
  background: -webkit-linear-gradient(left , rgb(102, 107, 101) , rgb(99, 99, 138));
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.clock {
  width: 500px;
  height: 400px;
  border: 5px solid rgb(141, 130, 130);
  background-color: transparent;
  border-radius: 20%;
  box-shadow:  18px 18px 85px rgba(181, 178, 187, 0.712);
  position: relative;
 
}

.clock .number {
  --roation: 0;
  position: absolute;
  width: 100%;
  color: wheat;
  height: 100%;
  text-align: center;
  transform: rotate(var(--roation));
  font-size: 1.5rem;
  padding: 18px;
}

.clock .number1 {--roation: 30deg}
.clock .number2 {--roation: 60deg}
.clock .number3 {--roation: 90deg}
.clock .number4 {--roation: 120deg}
.clock .number5 {--roation: 150deg}
.clock .number6 {--roation: 180deg}
.clock .number7 {--roation: 210deg}
.clock .number8 {--roation: 240deg}
.clock .number9 {--roation: 270deg}
.clock .number10 {--roation: 300deg}
.clock .number11 {--roation: 330deg}

.clock .hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
}

.clock .hand.second {
  width: 5px;
  height: 45%;
  background-color: rgb(126, 85, 85);
}
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: rgb(109, 97, 97);
}
.clock .hand.hour {
  width: 10px;
  height: 30%;
  background-color: rgb(49, 27, 27);
}
h1{
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  color: rgba(231, 199, 159, 0.692);
}
h3{
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  color: rgba(240, 197, 140, 0.829);
}